In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./illinoisDistricts.csv")

In [3]:
df.head()

,COUNTYFP,NAME,G16PREDCLI,G16PRERTRU,G16PRELJOH,G16PREGSTE,G16PREOWRI,G16USSDDUC,G16USSRKIR,G16USSLMCM,G16USSGSUM,G16USSOWRI,G16COMDMEN,G16COMRMUN,G16COMLBAL,G16COMGCUR,NEIGHBORS,SUM
0,1,CLAYTON 1,76,359,10,1,2,175,260,5,7,0,117,299,10,9,"PEA RIDGE,CAMP POINT 1,NORTHEAST 1,HOUSTON 1,H...",274
1,1,NORTHEAST 1,72,350,17,5,1,138,283,16,6,0,118,299,17,5,"BIRMINGHAM,CHILI,AUGUSTA,CLAYTON 1,CAMP POINT ...",319
2,1,CAMP POINT 1,69,331,12,3,1,118,267,12,9,0,94,294,9,12,"CLAYTON 1,CAMP POINT 2,NORTHEAST 1,HOUSTON 1,C...",246
3,1,CAMP POINT 2,47,376,9,2,0,118,296,7,6,0,97,309,10,7,"HONEY CREEK 1,KEENE 1,CAMP POINT 1,HOUSTON 1,G...",318
4,1,MENDON 2,73,320,9,1,0,150,227,14,8,0,125,252,17,3,MENDON 1,38

In [7]:
dffinal = df.loc[:, ["NAME", "G16PREDCLI", "G16PRERTRU", "NEIGHBORS"]]

In [8]:
dffinal

,NAME,G16PREDCLI,G16PRERTRU,NEIGHBORS
0,CLAYTON 1,76,359,"PEA RIDGE,CAMP POINT 1,NORTHEAST 1,HOUSTON 1,H..."
1,NORTHEAST 1,72,350,"BIRMINGHAM,CHILI,AUGUSTA,CLAYTON 1,CAMP POINT ..."
2,CAMP POINT 1,69,331,"CLAYTON 1,CAMP POINT 2,NORTHEAST 1,HOUSTON 1,C..."
3,CAMP POINT 2,47,376,"HONEY CREEK 1,KEENE 1,CAMP POINT 1,HOUSTON 1,G..."
4,MENDON 2,73,320,MENDON 1
...,...,...,...,...
10085,GALESBURG CITY 12,208,182,"GALESBURG CITY 7,KNOX 5,KNOX 7,GALESBURG CITY ..."
10086,GALESBURG CITY 14,320,145,"GALESBURG CITY 21,GALESBURG CITY 22,GALESBURG ..."
10087,GALESBURG TOWNSHIP,63,128,"KELLY,HENDERSON 2,GALESBURG CITY 23,GALESBURG ..."
10088,GALESBURG CITY 1,253,271,"GALESBURG CITY 23,HENDERSON 1,GALESBURG CITY 2..."
10089,OSWEGO - 04,443,319,"9-4,OSWEGO - 34,OSWEGO - 37 AU01,AU10,W07P06,O..."

In [10]:
dffinal.to_csv("illinoisDistrictsTrimmed.csv", index = False)