In [44]:
import pandas as pd

In [84]:
df = pd.read_csv("./smallDataSetTest.csv")

In [85]:
df.head()

,COUNTYFP,NAME,G16PREDCLI,G16PRERTRU,G16PRELJOH,G16PREGSTE,G16PREOWRI,G16USSDDUC,G16USSRKIR,G16USSLMCM,G16USSGSUM,G16USSOWRI,G16COMDMEN,G16COMRMUN,G16COMLBAL,G16COMGCUR,NEIGHBORS,NEIGHBOR
0,31,MAINE 2,400,194,8,14,3,381,178,21,9,0,342,187,28,15,"MAINE 5,MAINE 78,MAINE 69,NORTHFIELD 1,NORTHFI...","MAINE 5 31,MAINE 78 31,MAINE 69 31,NORTHFIELD ..."
1,31,MAINE 5,647,295,15,7,10,590,307,22,18,1,555,309,16,32,"MAINE 78,MAINE 23,MAINE 2,NORTHFIELD 1,NORTHFI...","MAINE 78 31,MAINE 23 31,MAINE 2 31,NORTHFIELD ..."
2,31,MAINE 31,399,259,19,9,3,359,286,18,9,2,312,308,12,20,"MAINE 69,NORTHFIELD 38,MAINE 40,MAINE 74,MAINE...","MAINE 69 31,NORTHFIELD 38 31,MAINE 40 31,MAINE..."
3,31,MAINE 23,409,253,21,17,6,374,263,18,26,0,345,276,26,23,"MAINE 86,MAINE 5,NORTHFIELD 1,MAINE 92","MAINE 86 31,MAINE 5 31,NORTHFIELD 1 31,MAINE 9..."
4,31,MAINE 44,256,156,25,5,8,214,214,10,11,0,178,235,14,12,"MAINE 52,MAINE 74,MAINE 76,NILES 11,NORTHFIELD...","MAINE 52 31,MAINE 74 31,MAINE 76 31,NILES 11 3..."

In [87]:
dffinal = df.loc[:, ["NAME", "G16PREDCLI", "G16PRERTRU", 'NEIGHBORS']]

In [88]:
dffinal

,NAME,G16PREDCLI,G16PRERTRU,NEIGHBORS
0,MAINE 2,400,194,"MAINE 5,MAINE 78,MAINE 69,NORTHFIELD 1,NORTHFI..."
1,MAINE 5,647,295,"MAINE 78,MAINE 23,MAINE 2,NORTHFIELD 1,NORTHFI..."
2,MAINE 31,399,259,"MAINE 69,NORTHFIELD 38,MAINE 40,MAINE 74,MAINE..."
3,MAINE 23,409,253,"MAINE 86,MAINE 5,NORTHFIELD 1,MAINE 92"
4,MAINE 44,256,156,"MAINE 52,MAINE 74,MAINE 76,NILES 11,NORTHFIELD..."
...,...,...,...,...
94,West Deerfield 398,813,189,"West Deerfield 391,West Deerfield 394,West Dee..."
95,West Deerfield 390,328,174,"Vernon 264,West Deerfield 388,West Deerfield 3..."
96,West Deerfield 399,930,140,"West Deerfield 394,NORTHFIELD 3,NORTHFIELD 54,..."
97,West Deerfield 400,756,195,"West Deerfield 395,West Deerfield 394,NORTHFIE..."
98,West Deerfield 401,602,165,"Moraine 218,West Deerfield 400,NORTHFIELD 58,N..."

In [89]:
smaller = dffinal

In [90]:
smaller

,NAME,G16PREDCLI,G16PRERTRU,NEIGHBORS
0,MAINE 2,400,194,"MAINE 5,MAINE 78,MAINE 69,NORTHFIELD 1,NORTHFI..."
1,MAINE 5,647,295,"MAINE 78,MAINE 23,MAINE 2,NORTHFIELD 1,NORTHFI..."
2,MAINE 31,399,259,"MAINE 69,NORTHFIELD 38,MAINE 40,MAINE 74,MAINE..."
3,MAINE 23,409,253,"MAINE 86,MAINE 5,NORTHFIELD 1,MAINE 92"
4,MAINE 44,256,156,"MAINE 52,MAINE 74,MAINE 76,NILES 11,NORTHFIELD..."
...,...,...,...,...
94,West Deerfield 398,813,189,"West Deerfield 391,West Deerfield 394,West Dee..."
95,West Deerfield 390,328,174,"Vernon 264,West Deerfield 388,West Deerfield 3..."
96,West Deerfield 399,930,140,"West Deerfield 394,NORTHFIELD 3,NORTHFIELD 54,..."
97,West Deerfield 400,756,195,"West Deerfield 395,West Deerfield 394,NORTHFIE..."
98,West Deerfield 401,602,165,"Moraine 218,West Deerfield 400,NORTHFIELD 58,N..."

In [117]:
f = set(smaller.NAME)

In [118]:
j = smaller["NEIGHBORS"].str.split(",")
j

0     [MAINE 5, MAINE 69, NORTHFIELD 1, NORTHFIELD 4...
1     [MAINE 23, MAINE 2, NORTHFIELD 1, NORTHFIELD 4...
2     [MAINE 69, NORTHFIELD 38, MAINE 74, NORTHFIELD...
3                     [MAINE 86, MAINE 5, NORTHFIELD 1]
4     [MAINE 74, NILES 11, NORTHFIELD 21, NORTHFIELD...
                            ...
94    [West Deerfield 394, West Deerfield 390, NORTH...
95    [West Deerfield 388, Vernon 287, Vernon 270, N...
96    [NORTHFIELD 3, NORTHFIELD 54, West Deerfield 3...
97    [West Deerfield 394, NORTHFIELD 3, West Deerfi...
98    [Moraine 218, West Deerfield 400, NORTHFIELD 5...
Name: NEIGHBORS, Length: 99, dtype: object

In [121]:
def mine(x):
    s = x
    for vert in s:
        if vert not in f:
            print(vert)

            s.remove(vert)
            print(s)
    return s

cleaned = j.apply(mine)

MAINE 57
['MAINE 23', 'MAINE 2', 'NORTHFIELD 1', 'NORTHFIELD 4']
MAINE 6
['WHEELING 11', 'NORTHFIELD 39', 'NORTHFIELD 33', 'MAINE 64', 'MAINE 23', 'NORTHFIELD 1']
NEW TRIER 7
['NEW TRIER 20', 'NEW TRIER 6', 'NORTHFIELD 8']
NILES 59
['NILES 11', 'NEW TRIER 13', 'NORTHFIELD 19', 'NORTHFIELD 6']
WHEELING 16
['NORTHFIELD 39', 'NORTHFIELD 27', 'WHEELING 77', 'WHEELING 80', 'WHEELING 85']
WHEELING 43
['WHEELING 76', 'NORTHFIELD 50', 'NORTHFIELD 27', 'WHEELING 77']
Vernon 286
['West Deerfield 390', 'NORTHFIELD 54', 'WHEELING 67']

In [122]:
cleaned

0     [MAINE 5, MAINE 69, NORTHFIELD 1, NORTHFIELD 4...
1       [MAINE 23, MAINE 2, NORTHFIELD 1, NORTHFIELD 4]
2     [MAINE 69, NORTHFIELD 38, MAINE 74, NORTHFIELD...
3                     [MAINE 86, MAINE 5, NORTHFIELD 1]
4     [MAINE 74, NILES 11, NORTHFIELD 21, NORTHFIELD...
                            ...
94    [West Deerfield 390, NORTHFIELD 3, NORTHFIELD ...
95    [Vernon 287, NORTHFIELD 54, West Deerfield 398...
96    [NORTHFIELD 3, NORTHFIELD 54, West Deerfield 3...
97    [NORTHFIELD 3, West Deerfield 399, West Deerfi...
98    [Moraine 218, West Deerfield 400, NORTHFIELD 5...
Name: NEIGHBORS, Length: 99, dtype: object

In [135]:
"MAINE 64" not in f

True

In [136]:
cleaned[7]

['WHEELING 11',
 'NORTHFIELD 39',
 'NORTHFIELD 33',
 'MAINE 64',
 'MAINE 23',
 'NORTHFIELD 1']

In [127]:
smaller.loc[:,"NEIGHBORS"] = cleaned

In [128]:
smaller.iloc[0, 3]

['MAINE 5', 'MAINE 69', 'NORTHFIELD 1', 'NORTHFIELD 4', 'NORTHFIELD 38']

In [129]:
def converttostr(input_seq, seperator):
   # Join all the strings in list
   final_str = seperator.join(input_seq)
   return final_str
finalIThink = smaller
finalIThink["NEIGHBORS"] = finalIThink["NEIGHBORS"].apply(lambda x: converttostr(x, ","))
finalIThink

,NAME,G16PREDCLI,G16PRERTRU,NEIGHBORS
0,MAINE 2,400,194,"MAINE 5,MAINE 69,NORTHFIELD 1,NORTHFIELD 4,NOR..."
1,MAINE 5,647,295,"MAINE 23,MAINE 2,NORTHFIELD 1,NORTHFIELD 4"
2,MAINE 31,399,259,"MAINE 69,NORTHFIELD 38,MAINE 74,NORTHFIELD 21"
3,MAINE 23,409,253,"MAINE 86,MAINE 5,NORTHFIELD 1"
4,MAINE 44,256,156,"MAINE 74,NILES 11,NORTHFIELD 21,NORTHFIELD 24"
...,...,...,...,...
94,West Deerfield 398,813,189,"West Deerfield 390,NORTHFIELD 3,NORTHFIELD 54,..."
95,West Deerfield 390,328,174,"Vernon 287,NORTHFIELD 54,West Deerfield 398,WH..."
96,West Deerfield 399,930,140,"NORTHFIELD 3,NORTHFIELD 54,West Deerfield 398,..."
97,West Deerfield 400,756,195,"NORTHFIELD 3,West Deerfield 399,West Deerfield..."
98,West Deerfield 401,602,165,"Moraine 218,West Deerfield 400,NORTHFIELD 58,N..."

In [130]:
finalIThink.to_csv("testingOnSmaller.csv", index = False, float_format='%.0f')

In [131]:
clinton = finalIThink["G16PREDCLI"].sum()
clinton

48373

In [132]:
trump = finalIThink["G16PRERTRU"].sum()
trump

22522

In [133]:
clinton + trump

70895

In [134]:
70895// 4

17723